.container {
  width: 95%;
  margin: 0 auto;
  margin-top: 5rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 6rem;
  justify-items: center;
}

.muscle-card {
  padding: 4px;
  height: 15rem;
  width: 12rem;
  border: 1px solid red;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.my-button {
  padding: 4px 16px;
  border: 1px solid lightgray;
  border-radius: 16px;
}
